<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h2 class="text-center">Contacts</h2>
      <p>Welcome to our Contacts page! We value the opportunity to connect with our readers and audience. Whether you have questions, suggestions, or just want to say hello, we are always here to listen and engage with you.</p>

      <h4>Email</h4>
      <p>You can email us directly at <a href="mailto:contact@blog.com">contact@blog.com</a>. Our team is committed to responding to your emails promptly and providing you with the information you need.</p>

      <h4>Social Media</h4>
      <p>Connect with us on various social media platforms. Follow our pages for updates, engaging content, and to join the conversation with our community of readers:</p>
      <ul>
        <li>Facebook: <a href="https://www.facebook.com/blog" target="_blank">www.facebook.com/blog</a></li>
        <li>Twitter: <a href="https://www.twitter.com/blog" target="_blank">www.twitter.com/blog</a></li>
        <li>Instagram: <a href="https://www.instagram.com/blog" target="_blank">www.instagram.com/blog</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/company/blog" target="_blank">www.linkedin.com/company/blog</a></li>
      </ul>

      <h4>Contact Form</h4>
      <p>You can also use the contact form below to send us your message directly from this page. Simply fill in the required fields and click "Submit." We promise to get back to you as soon as possible.</p>

      <h4>Address</h4>
      <p>If you prefer to send us traditional mail or visit our office, here's our address:</p>
      <address>
        123 Blog Street,<br>
        Cityville, Blogland,<br>
        Country - 123456.
      </address>

      <h4>Phone</h4>
      <p>For urgent matters or if you prefer to speak with someone over the phone, you can reach us at:</p>
      <p>Phone: +1 (123) 456-7890</p>
    </div>
  </div>
</div>