.header{
    background-color: aliceblue;
}

.nav-link{
    margin-right: 50px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    background-color: aliceblue;
}